<%- partial('common/main-title', {area: false, container: true}) %>
<div class="legal">
    <div class="container">
        <div class="legal__text">
            <%- markdown(page.content) %>
        </div>
    </div>
</div>